@import "variables";

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   width: 100%;
   height: 100%;
   position: relative;

   .main-nav {
      width: 100%;
      height: 8vh;
      background-color: $navBar-color;
      position: absolute;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      z-index: 99;

      .menu {
         display: none;
      }

      .logo {
            position: absolute;
            left: 1em;
            top: 0.6em;
            width: 10vw;
            height: 5vh;

            .logo-img {
               width: 10vw;
               height: 6vh;
            }
      }

      .nav-list {
         position: absolute;
         left: 60em;
         width: 30vw;

         .nav-items {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            list-style: none;

            .links {
               text-decoration: none;
               font-family: $text-font;
               color: #ddd;
            }
         }
      }

   }

   .header-image {
      position: relative;
      top: 2em;
      width: 100%;
      height: 100%;
   }

   .form1 {
      position: absolute;
      top: 12em;
      left: 34em;
      background: #ddd;
      box-shadow: 5px 3px 10px;
      height: 40vh;

      #name {
         position: relative;
         top: 6em;
         left: 12em;
         border: none;
         height: 4vh;
         width: 15vw;
      }

      #img {
         position: relative;
         top: 12em;
         right: 6em;
      }

      .btn-1 {
         border: none;
         width: 6vw;
         height: 5vh;
         position: relative;
         top: 18em;
         right: 20em;
         background: $btn-color;
      }
   }

   .tabel-1 {
      width: 100%;
      height: 100%;
      background: blanchedalmond;

      .id {
         width: 5vw;
         border-right: 2px #000 solid;
         border-bottom: 2px #000 solid;
         text-align: center;
      }

      .name {
         width: 10vw;
         border-right: 2px #000 solid;
         text-align: center;
         border-bottom: 2px #000 solid;
      }

      .tb-img {
         width: 13vw;
         height: 20vh;
         text-align: center;
         border-right: 2px #000 solid;
         border-bottom: 2px #000 solid;
      }

      .edit-btn {
         width: 13vw;
         height: 20vh;
         text-align: center;
         border-right: 2px #000 solid;
         border-bottom: 2px #000 solid;
      }

      .delet-btn {
         width: 13vw;
         height: 20vh;
         text-align: center;
         border-right: 2px #000 solid;
         border-bottom: 2px #000 solid;
      }
   }


}