@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,300&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.main-header {
  position: relative;
  width: 100%;
  height: 100%;
}

.main-header .main-nav {
  position: absolute;
  width: 100%;
  height: 8vh;
  background: #052340;
}

.main-header .main-nav .logo {
  position: absolute;
  top: 0.4em;
  left: 2em;
  width: 10vw;
  height: 5vh;
}

.main-header .main-nav .logo .logo-img {
  width: 10vw;
  height: 6vh;
}

.main-header .main-nav .menu {
  display: none;
}

.main-header .main-nav .nav-list {
  position: absolute;
  top: 1.3em;
  left: 60em;
  width: 30%;
  height: 8vh;
  display: block;
}

.main-header .main-nav .nav-list .nav-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
}

.main-header .main-nav .nav-list .nav-items .links {
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  color: #ddd;
}

.gallery-section {
  position: relative;
  width: 100%;
  height: 100%;
}

.gallery-section .first-row {
  position: absolute;
  width: 100%;
  height: 100%;
}

.gallery-section .first-row #mobile-gallery {
  display: none;
}

.gallery-section .first-row .images-first-row {
  position: absolute;
  top: 10em;
  width: 60vw;
  height: 45vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.gallery-section .first-row .images-first-row #deskt-top {
  position: absolute;
  width: 88vw;
  height: 50vh;
  display: block;
}

.gallery-section .first-row .images-first-row .img {
  position: relative;
  top: 4em;
  left: 8em;
  z-index: 999;
  width: 20vw;
  height: 40vh;
}

.gallery-section .first-row .images-first-row .img img {
  width: 10vw;
  height: 30vh;
}

.gallery-section .first-row .images-first-row .img-1 {
  position: relative;
  top: 4em;
  left: 8em;
  z-index: 999;
  width: 20vw;
  height: 40vh;
  margin-left: 3em;
}

.gallery-section .first-row .images-first-row .img-1 img {
  width: 10vw;
  height: 30vh;
}

.gallery-section .first-row .images-first-row .img-2 {
  position: relative;
  top: 4em;
  left: 8em;
  z-index: 999;
  width: 20vw;
  height: 40vh;
  margin-left: 3em;
}

.gallery-section .first-row .images-first-row .img-2 img {
  width: 10vw;
  height: 30vh;
}

.gallery-section .first-row .images-first-row .img-3 {
  position: relative;
  top: 4em;
  left: 8em;
  z-index: 999;
  width: 20vw;
  height: 40vh;
  margin-left: 3em;
}

.gallery-section .first-row .images-first-row .img-3 img {
  width: 10vw;
  height: 30vh;
}

.gallery-section .first-row .images-first-row .img-4 {
  position: relative;
  top: 4em;
  left: 8em;
  z-index: 999;
  display: block;
  width: 20vw;
  height: 40vh;
  margin-left: 3em;
}

.gallery-section .first-row .images-first-row .img-4 img {
  width: 10vw;
  height: 30vh;
}

.gallery-section .first-row .images-second-row {
  position: relative;
  width: 60vw;
  height: 45vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.gallery-section .first-row .images-second-row #desk-middel {
  position: absolute;
  width: 88vw;
  height: 50vh;
  top: 48em;
  left: 10.9em;
}

.gallery-section .first-row .images-second-row .img-5 {
  position: relative;
  top: 52em;
  left: 26em;
  width: 20vw;
  height: 40vh;
  margin-left: 3em;
}

.gallery-section .first-row .images-second-row .img-5 img {
  width: 10vw;
  height: 30vh;
}

.gallery-section .first-row .images-second-row .img-6 {
  position: relative;
  top: 52em;
  left: 26em;
  width: 20vw;
  height: 40vh;
  margin-left: 3em;
}

.gallery-section .first-row .images-second-row .img-6 img {
  width: 10vw;
  height: 30vh;
}

.gallery-section .first-row .images-second-row .img-7 {
  position: relative;
  top: 52em;
  left: 26em;
  width: 20vw;
  height: 40vh;
  margin-left: 3em;
}

.gallery-section .first-row .images-second-row .img-7 img {
  width: 10vw;
  height: 30vh;
}

.gallery-section .first-row .images-second-row .img-8 {
  position: relative;
  top: 52em;
  left: 26em;
  width: 20vw;
  height: 40vh;
  margin-left: 3em;
}

.gallery-section .first-row .images-second-row .img-8 img {
  width: 10vw;
  height: 30vh;
}

.gallery-section .first-row .images-second-row .img-9 {
  position: relative;
  top: 52em;
  left: 26em;
  width: 20vw;
  height: 40vh;
  margin-left: 3em;
}

.gallery-section .first-row .images-second-row .img-9 img {
  width: 10vw;
  height: 30vh;
}

.gallery-section .first-row .images-theerd-row {
  position: relative;
  width: 60vw;
  height: 45vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.gallery-section .first-row .images-theerd-row #desk-down {
  position: absolute;
  width: 88vw;
  height: 50vh;
  top: 64em;
}

.gallery-section .first-row .images-theerd-row .img-10 {
  position: relative;
  top: 66em;
  left: 5em;
  width: 20vw;
  height: 30vh;
  margin-left: 3em;
}

.gallery-section .first-row .images-theerd-row .img-10 img {
  width: 10vw;
  height: 30vh;
}

.gallery-section .first-row .images-theerd-row .img-11 {
  position: relative;
  top: 66em;
  left: 5em;
  width: 20vw;
  height: 30vh;
  margin-left: 3em;
}

.gallery-section .first-row .images-theerd-row .img-11 img {
  width: 10vw;
  height: 30vh;
}

.gallery-section .first-row .images-theerd-row .img-12 {
  position: relative;
  top: 66em;
  left: 5em;
  width: 20vw;
  height: 30vh;
  margin-left: 3em;
}

.gallery-section .first-row .images-theerd-row .img-12 img {
  width: 10vw;
  height: 30vh;
}

.gallery-section .first-row .images-theerd-row .img-13 {
  position: relative;
  top: 66em;
  left: 5em;
  width: 20vw;
  height: 30vh;
  margin-left: 3em;
}

.gallery-section .first-row .images-theerd-row .img-13 img {
  width: 10vw;
  height: 30vh;
}

.gallery-section .first-row .images-theerd-row .img-14 {
  position: relative;
  top: 66em;
  left: 5em;
  width: 20vw;
  height: 30vh;
  margin-left: 3em;
}

.gallery-section .first-row .images-theerd-row .img-14 img {
  width: 10vw;
  height: 30vh;
}

.main-footer {
  position: relative;
  top: 120em;
  width: 100%;
  height: 100%;
}

.main-footer img {
  position: absolute;
  width: 100%;
  height: 50vh;
}

.main-footer .social-media {
  position: absolute;
  top: 6em;
  left: 10EM;
  width: 50%;
  height: 30%;
}

.main-footer .social-media h3 {
  font-family: "Roboto", sans-serif;
  color: #ddd;
  font-size: 1.8em;
  width: 30vw;
}

.main-footer .social-media .social-icons {
  position: absolute;
  top: 1.5em;
  left: 0.7em;
  width: 100%;
  height: 30%;
  font-size: 3em;
  color: #ddd;
}

.main-footer .news-letter {
  position: absolute;
  top: 6em;
  left: 50em;
  width: 30%;
  height: 30vh;
}

.main-footer .news-letter h3 {
  font-family: "Roboto", sans-serif;
  color: #ddd;
  font-size: 1.8em;
  width: 30vw;
}

.main-footer .news-letter .news-input {
  position: absolute;
  top: 5em;
  width: 17vw;
  height: 6vh;
  border: none;
}

.main-footer .news-letter button {
  position: absolute;
  top: 5em;
  left: 17em;
  width: 7vw;
  height: 6vh;
  border: none;
  background: #FFEFA1;
}
/*# sourceMappingURL=gallery.css.map */