@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,300&display=swap');

$text-color: #413C69;
$gray-color: #ddd;
$navBar-color: #052340;
$btn-color: #FFEFA1;
$mobile: 500px;
$text-font: 'Roboto', sans-serif;